/* three_views_style_1.css */

/*

.currentpage {

}

#view_one {
	font-family: helvetica;
	font-size: 40px;
	font-style: italic;

}

#view_one:link {
	text-decoration: none;
}

#view_one:visited {
	text-decoration: none;
}

#view_one:hover {
	text-decoration: none;
}

#view_one:active {
	text-decoration: none;
} 


*/