<!-- three_views_3.html -->
<!-- lead (and only) developer: Bobby Joe 3.0 -->

<html>

<!-- create a space for the operating insturctions for how the webpage should look -->
	<head>
		<title> View Three </title>
		

<!-- close the operating instructions space -->
	</head>


<!-- create a space to code/construct the actual webpage -->
	<body>
		<h1> This is the third view </h1>
		<h2> Other Views </h2>
		<ul>
			<li><a href="{{ url_for('view_1') }}"> View One </a></li>
			<li><a href="{{ url_for('view_2') }}"> View Two </a></li>
			<li><a href="{{ url_for('view_3') }}"> View Three </a></li>


<!-- close the space to code/construct the actual webpage -->
	</body>





<!-- Let the computer know you are done writing in HTML -->
</html>